body {
	background-color: #6d695c;
	background-image:
	repeating-linear-gradient(120deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	repeating-linear-gradient(60deg, rgba(255,255,255,.1), rgba(255,255,255,.1) 1px, transparent 1px, transparent 60px),
	linear-gradient(60deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1)),
	linear-gradient(120deg, rgba(0,0,0,.1) 25%, transparent 25%, transparent 75%, rgba(0,0,0,.1) 75%, rgba(0,0,0,.1));
	background-size: 70px 120px;
}

h1 {
	font-family: sans-serif;
	color: white;
	text-shadow:
		 	-1px -1px 0 #000,  
		  1px -1px 0 #000,
		  -1px 1px 0 #000,
		  1px 1px 0 #000;
}

#inst1 {
	position: absolute;
	top: 5vw;
	left: 2vw;
}

#inst2 {
	position: absolute;
	top: 5vw;
	left: 50vw;
}