<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jam your fingers</title>	
	<link rel="stylesheet" href="{% static 'instruments/styles.css' %}">
	<link rel="shortcut icon" href="{% static 'instruments/favicon.ico' %}" type="image/x-icon">
	<link rel="icon" href="{% static 'instruments/favicon.ico' %}" type="image/x-icon">
</head>
<body>
	<script src="{% static 'instruments/riot.min.js' %}">	
	</script>
	<script src="{% static 'instruments/instrument.js' %}"></script>
	<h1>Why don't you be like a strawberry and jam?</h1>
	<div id='inst1'>
		<instrument name="{ names[0] }" opts="{ params }"></instrument>
	</div>
	<div id='inst2'>
		<instrument name="{ names[1] }" opts="{ params }"></instrument>
	</div>
	<script>
		names = ["PhotonicWhistle", "RubberRockBand"];
		params = {
			"1": {
				"name": names[0],
				"c"  : "a",
				"cs" : "w",
				"d"  : "s",
				"ds" : "e",
				"e"  : "d",
				"f"  : "f",
				"fs" : "t",
				"g"  : "g",
				"gs" : "y",
				"a"  : "h",
				"as" : "u",
				"b"  : "j",
				"ch" : "k"
			},
			"2": {
				"name": names[1],
				"c"  : "z",
				"d"  : "x",
				"e"  : "c",
				"f"  : "v",
				"g"  : "b",
				"a"  : "n",
				"b"  : "m",
				"ch" : "."
			}
		};
		riot.mount('*');
	</script>
</body>
</html>